*{
font-family: "Sansation" , sans-serif;
}
.header{
    font-size:2rem ;
}


#container{
    align-items: center;
    text-align: center;
    margin:  3rem auto;
    justify-content: center;
 
    
}
form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#calBtn{
    margin-right:1rem;
    margin-left: 0.5rem;
}
input{
    outline: none;
    padding: 0.5rem;
    width: 15rem;
    border: 1px solid lightgray ;
    border-radius: 5px;
    margin-top: 2rem;
}
  .button ,button{
      margin-left: 0.5rem;  
      color: white;
      border: none;
      background-color: black;
      padding: 0.5rem 1rem;
      border-radius: 5px ;
      margin-top: 0.4rem ;
      transition: 0.5s;
}
.del-list{
     margin-left: 0;  
      color: white;
      border: none;
      background-color: black;
      padding: 0.5rem 1rem;
      border-radius: 5px ;
     transform: translateY(-0.4rem);
      transition: 0.5s;
}

  .button:hover, button:hover{

    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.9;
}

 button:active , .button:active{
transform: scale(0.8);
opacity: 0.7;
}
#badges{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#badge{
    display: flex;
    justify-content: space-between;
    width: 13rem;
    background-color: rgba(245 , 245, 245);
    padding: 2rem;
    border-radius: 0.5rem ;
    margin: 1.9rem;
    align-items: center;
    transition: 1s;
}
.span{
    margin-right: 1rem ;
    margin-left: 1rem ;
}
#badge:hover{
 transform: scale(1.1);
}
.fa-wallet {
    padding: 1rem;
    color: rgb(38, 104, 183);
    background-color: rgb(204, 225, 255);
    border-radius: 3px ;
    font-size: 1.6rem ;
}
#budgetNumber{
    font-size: 1.2rem;
}
#blockName{
    color:rgb(124, 124, 124)
}

.fa-credit-card{
padding: 1rem;
color: rgb(255, 191, 0);
background-color: rgb(255, 230, 170);
border-radius: 3px ;
font-size: 1.6rem ; 
}
.fa-comments-dollar{
padding: 1rem;
color: rgb(0, 128, 0);
background-color: rgb(204, 235, 200);
border-radius: 3px ;
font-size: 1.6rem ; 
}
.bud-det-text{
    font-size:2rem ;
    color: rgb(113, 113, 113);
}
#details{
background-color: rgba(245, 245, 245, 0.9);
padding: 1rem;
text-align: center;
align-items: center;


}
.li{
  font-size: 1rem;
  justify-content: space-between;
}
.list-div{
  width: 100%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    color: rgb(74, 74, 74);
}
.hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.9;
}
